

<div class="row">

  <div class="col-md-6">

    
    <div class="centered"> 
    <h1 appHighlight> Shop ideas and sell them! </h1>

      <ul>
        <li *ngFor="let i of ideatypes" class="my-animation">
          {{ i }}
        </li>
      </ul>
      <hr> 
      <button class="btn btn-success btn-lg" (click)="goToDetails()"> Start Exploring! </button>

    </div>
  </div>
  <div class="col-md-6">
    <h1 appHighlight> Featured Ideas! </h1>

      <div class="idea" *ngFor="let i of ideas">
        <h2> {{ i.name }} </h2>
        <p> {{ i.description }} </p>
        <b> {{ i.author }} </b>
        <hr> 
      </div>

  </div>

</div>